In [1]:
from utils import DfUtils

In [20]:
ratings_df = DfUtils.get_ratings_df("./main_dataset/updated_ratings.csv")
ratings_df = ratings_df.groupby("isbn").filter(lambda x: len(x) > 200)

ratings_df

        user_id   isbn  rating
19        54000  23365     3.5
106       54034  19675     4.0
152       54039  25753     5.0
420       54091  30246     5.0
439       54106   5603     4.0
...         ...    ...     ...
466489    53890  37517     4.0
466597    53917  19675     5.0
466648    53929  37517     4.5
466995    53981  19675     4.0
467030    53982   1664     4.5

[3474 rows x 3 columns]

In [61]:
rated_5_books = ratings_df.sort_values("rating", ascending=False)
rated_5_books[rated_5_books["rating"] > 4.5].sample(10)["isbn"].values

array([ 1664, 37517, 30246, 23365, 19675, 26487, 10300,  7062, 23365,
        7062])